body {

}

article {
    margin: auto;
    margin-top: 60px;
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
    background-image: url(WidgetCoLogo.gif);
    background-repeat: no-repeat;
    background-position: center 3px;
    background-
    font-style: initial;:
}

section {
    
    background-color: rgb(252, 243, 233);
    text-align: justify;
    margin-bottom: 15px;
    border: 2px solid green;
    border-left: 30px solid green;
    padding: 5px;
    padding-left: 15px;
}

section a:link {
    font-weight: bold;
}

header {
    border-bottom: 1px solid;
    border-bottom-color: black;
    border-top: 1px solid;
    border-top-color: black;
    text-align: center;
    border-right: 15px solid #000000;
    font-variant: small-caps;
}

aside {
    width: 20%;
    padding-left: 10px;
    padding-right: 15px;
    margin-right: 0;
    margin-left: 50px;
    float: right;
    text-align: right;
    border-right: 15px solid orange;
}

aside::first-line {
    font-weight: bold;
}

footer {
    padding-top: 5px;
    border-top: 1px solid #000000;
    text-align: right;
    font-style: italic;
    color: rgb(196, 196, 196);
}

footer a:link {
    margin-top: auto;
    font-weight: bold;
    color: rgb(151, 151, 151);
}

h1 {
    margin-left: 0;
    width: 60%;
}

h2 {
    font-style: italic;
    margin-top: 45px;
    text-align: center;
}